<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
                    <p>
			         My personal interests include:
                    </p>
                    <ul>
                        <li>Computer science</li>
                        <li>Big Data</li>
                        <li>Cloud technologies</li>
                        <li>.Net Core</li>
                        <li>Computer architecture</li>
                        <li>Traveling</li>
                        <li>Various kinds of sport</li>
                    </ul>
                
		      </div>
            </div>
  </div>
</section>
