<!-- Contact Section -->
<section id="tasks">
	<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Tasks</h2>
        <hr />
      </div>
    </div>
        <div class="col-sm-6">
            <h3 style="margin-top:0">Padawans tasks:</h3>
            
            <ul>
                <li><a href="https://github.com/mtsyvis/FancyCalc">FancyCalc</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask1">PadawansTask1</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask2">PadawansTask2</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask3">PadawansTask3</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask4">PadawansTask4</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask5">PadawansTask5</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask6">PadawansTask6</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask7">PadawansTask7</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask8">PadawansTask8</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask9">PadawansTask9</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask10">PadawansTask10</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask11">PadawansTask11</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask12">PadawansTask12</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask13">PadawansTask13</a></li>
                <li><a href="https://github.com/mtsyvis/PadawansTask15">PadawansTask15</a></li>
            
            </ul>
        </div>
        
        <div class="col-sm-6">
            
            <h3 style="margin-top:0">Other tasks:</h3>
            
            <ul>
                <li><h4 style="margin-top:0"><a href="https://www.codewars.com/users/mtsyvis">Codewars profile</a></h4></li>
                <li><h4 style="margin-top:0"><a href="https://github.com/mtsyvis/Demo-Project-Tic-Tac-Toe">Demo project</a></h4></li>
            </ul>
            
        

        </div>
<!--
    <div class="row">
        
	    <div class="col-sm-6">

      </div>
        
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Padawans</h3>

	    </div>
        
    </div>
-->
  </div>
</section>
